<div>
  <div class="row">
    <div class="cui-input-group medium-6 columns">
      <h2>Welcome to the help desk!</h2>
    </div>
  </div>
  <div class="row">
    <div class="cui-input-group medium-6 columns">
      <form method="GET">
        <label class="cui-label" for="normalInput">Please enter your name</label>
        <input class="cui-input" id="normalInput" type="text" placeholder="name" name="displayName">
          <button type="submit" class="cui-button">Submit</button>
      </form>
    </div>
  </div>
</div>