<!DOCTYPE html>
<html>

<head>
  <title>Webex Guest Issuer (sample app)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
  <div id="content">
    <h1>Webex Guest Issuer App example: Stage 4</h1>
    <div>
      <h2>Authenticating with guest token</h2>
      <div id="status"></div>
    </div>

  <!-- we are limited to repl.it resources, so load bundle externally -->
  <script src="https://js.samples.s4d.io/bundle.js"></script>

<script>
  <!-- Single Party Call JS -->
  // Inititate the SDK
  const spark = ciscospark.init();
  const jwt = '<%=locals.token%>';
  const statusDiv = document.getElementById('status');
  statusDiv.innerHTML = 'Loading';
  spark.once('ready', () => {
    statusDiv.innerHTML = 'Authorizing';
    spark.authorization.requestAccessTokenFromJwt({jwt}).then(() => {
        if (spark.canAuthorize) {
          // Authorization is successful

          // your app logic goes here

          // Change Authentication status to `Authorized`
          statusDiv.innerHTML = 'Authorized!';
        }
      })
        .catch((e) => {
          // Do something with the auth error here
          console.error(e);
          statusDiv.innerHTML = 'Unable to Login.';
        });
    });
  <!-- Single Party Call JS END -->
</script>
  </div>
</body>

</html>