<!DOCTYPE html>
<html>

<head>
  <title>Webex Guest Issuer (sample app)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
  <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
  
</head>

<body>
  <div id="content">
    <h1>Webex Guest Issuer App example: Stage 3</h1>
    <div id="my-webexteams-widget" style="width: 500px; height: 500px;"/>
<script>
  var widgetEl = document.getElementById('my-webexteams-widget');
  // Init a new widget
  ciscospark.widget(widgetEl).spaceWidget({
    guestToken: "<%=locals.token%>",
    destinationId: 'roomkit@sparkdemos.com',
    destinationType: 'email',
    activities: {
      "files":false,
      "meet":true,
      "message":true,
      "people":false
      },
    initialActivity: "message",
  });
</script>
  </div>
</body>

</html>